body {
    /* background-color: pink; */
    background-image: url("https://images2.alphacoders.com/129/1299581.jpg");
    /* background-repeat: no-repeat; */
    background-size: auto;
}

.menu {
    background: black;
    padding: 5px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;

}

.menu li {
    list-style: none;
}

a {
   text-decoration: none;
   color:purple; 
   font-size: 40px;
}

a:hover {
    text-decoration: underline;
    color: gray;
}
